{
    "singleQuote": true,
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 80,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.md", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
